img{
    width: 100%;
    display: block;
}

.home-content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}

header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(http://localhost/pkk/public/img/Image2.png) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.banner{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner-title{
    font-size: 3.8rem;
    font-family: var(--Playfair);
    line-height: 1.2;
    width: 70%;
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.link-list{
    margin-top: 5px;
}

.nav-list-end{
    margin-left: 50px;
}

.design{
    padding: 4.5rem;
    margin-top: 0px;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}
.design-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.design-item{
    cursor: pointer;
    margin: 1.5rem 0;
    max-width: 320px;
    
}
.design-img{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.design-img ::after{
    position: absolute;
    content: --;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.design-img img{
    transition: all 0.5s ease;
    filter: brightness(90%);
}

.design-item:hover img{
    transform: scale(1.2);
    border-radius: 10px;
}
.design-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
}
.design-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair)
}

.text-color{
    color: black;
}

.medsos .background{
    height: 30px;
    width: 30px;
    border-radius: 10px;
}

.background .bi::before{
    margin-top: 6px;
}

.useful{
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.useful li{
    text-decoration: none;
    list-style: none;
}

.list-products{
    max-width: 98%;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

.list-products .cards {
    display: inline-block;
    background-color: rgb(180, 180, 180);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-radius: 10px;
    height: 200px;
    width: 250px;
}

.list-products .cards .img {

}

.list-products .cards .title {
    padding: 2px;
    color: black;
    font-size: 20px;
}

.list-products .cards .title a {
    text-decoration: none;
    color: black;
}


.list-products .cards .title p {
margin-bottom: 0;
margin-top: 10px;
margin-left: 30px;
}